<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div *ngFor="let item of menuSidebar">
                    <!-- item de sidebarMenu NAME -->
                    <div class="sb-sidenav-menu-heading">{{item.name}}</div>
                    <!-- level_1 STARTS -->
                    <ng-container *ngTemplateOutlet="level_1 context: {$implicit: item.level_1}"></ng-container>


                    <!-- level_1 TEMPLATE -->
                    <ng-template #level_1 let-level1_items>
                        <div *ngFor="let item1 of level1_items">

                            <!-- level_1 - LINK -->
                            <div *ngIf="item1.link">
                                <a class="nav-link" href="index.html">
                                    <div class="sb-nav-link-icon">
                                        <fa-icon [icon]="getIcon(item1.icon!.name)"></fa-icon>
                                    </div>
                                    {{item1.name | titlecase}}
                                </a>
                            </div>
                            <!-- level_1 - SONS -->
                            <div *ngIf="!item1.link">
                                <a (click)="collapse.toggle()" [attr.aria-expanded]="!item1.level_2!.toggle.name"
                                    type="button" class="nav-link collapsed">
                                    <div class="sb-nav-link-icon">
                                        <fa-icon [icon]="this.getIcon(item1.icon!.name)"></fa-icon>
                                    </div>
                                    {{item1.name | titlecase}}
                                    <div class="sb-sidenav-collapse-arrow">
                                        <fa-icon [icon]="this.getIcon('faAngleDown')"></fa-icon>
                                    </div>
                                </a>
                                <div #collapse="ngbCollapse" class="collapse"
                                    (data-parent)="item1.level_2!.toggle!.dataparent"
                                    [(ngbCollapse)]="item1.level_2!.toggle.value">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <!-- level_2 - STARTS -->
                                        <ng-container
                                            *ngTemplateOutlet="level_2 context: {$implicit: item1.level_2.items}"></ng-container>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <!-- level_2 TEMPLATE -->
                    <ng-template #level_2 let-level2_items>
                        <div *ngFor="let item2 of level2_items">
                            
                        </div>
                    </ng-template>

                </div>
            </div>

        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>


<!-- 
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Layouts
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">Static Navigation</a>
                        <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                    aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Pages
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="login.html">Login</a>
                                <a class="nav-link" href="register.html">Register</a>
                                <a class="nav-link" href="password.html">Forgot Password</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#pagesCollapseError" aria-expanded="false"
                            aria-controls="pagesCollapseError">
                            Error
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="401.html">401 Page</a>
                                <a class="nav-link" href="404.html">404 Page</a>
                                <a class="nav-link" href="500.html">500 Page</a>
                            </nav>
                        </div>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Charts
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables
                </a>
            </div>
 -->